A <span>Docker</span> image of <span>The Benny App</span> is available on
<a
  :href="links.dockerImage"
  target="_blank">
  <b>
    Docker Hub
  </b>.
</a>

<br><br>

<span id="docker-code-snippet" class="text-info bg-light border-info rounded p-2">
  docker pull stcybrdgs/scb-apps:benapp
<button
  class="btn btn-sm btn-outline-info ml-2 mb-1"
  title="Copy"
  id="copy-button"
  data-clipboard-target="#docker-code-snippet">
  <i class="fas fa-clipboard"></i>
</button>
</span>

<br><br>

The Flask app within the Docker container serves to port 80.

<br><br>
