<!-- Goodness of Fit : content -->
A data set may align to Benford's Law either <span>statistically</span> or in <span>shape</span> (or both).
There are differing viewpoints on the best way to evaluate such alignments.
It is possible for a data set to fit well in shape but to still deviate statistically.

<br><br>

<span>The Benny App</span> does not look at shape. It simply computes a <span>Chi Squared Statistic</span>
and recognizes alignment for values that are less than or equal to a fixed <span>limit of 8.00</span>.

<br><br>

The <span>Chi Squared Statistic</span> will be set to <span>9999</span> if the analysis function rejects <em>all</em> rows in the data set.

<br><br>
