<!-- about modal (full-page, material design) -->
<div class="container my-4">
  <div
    class="modal fade right pr-0 pl-0"
    id="about"
    tabindex="-1"
    role="dialog"
    aria-labelledby="aboutLabel"
    aria-hidden="true">

    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
      <div class="modal-content-full-width modal-content ">

        <!-- Header -->
        <div class="modal-header-full-width modal-header text-center shadow">
          <h4 class="modal-title w-100 mt-2" id="aboutLabel">
            About</h4>
          <a
            href="#"
            class="close text-white border-0"
            data-dismiss="modal"
            aria-label="Close">
            <span
              aria-hidden="true"
              style="font-size: 1.6em"
              >&times;</span>
          </a>
        </div>

        <!-- Body -->
        <div class="card-body">
          <div
            class=""
            id="about-div">

            <div class="accordion" id="accordionExample">


              <!-- The Benny App : Content -->
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left" type="button"
                      data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <h4>The Benny App</h4>
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    {% include 'modals/aboutCards/theBennyApp.html' %}
                  </div>
                </div>
              </div>


              <!-- Get a Benny : Content -->
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed" type="button"
                      data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4>Get a Benny</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    {% include 'modals/aboutCards/getABenny.html' %}
                  </div>
                </div>
              </div>


              <!-- Goodness of Fit : Content -->
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed" type="button"
                      data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4>Goodness of Fit</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    {% include 'modals/aboutCards/goodnessOfFit.html' %}
                  </div>
                </div>
              </div>


              <!-- Inclusions : Content -->
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed" type="button"
                      data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h4>Inclusions</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    {% include 'modals/aboutCards/inclusions.html' %}
                  </div>
                </div>
              </div>


              <!-- Docker : Content -->
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left collapsed" type="button"
                      data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h4>Docker</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body">
                    {% include 'modals/aboutCards/docker.html' %}
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer-full-width modal-footer">
          <button
            type="button"
            class="btn btn-md btn-outline-info btn-rounded modal-btn"
            data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
