<div class="container my-4">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe
                  class="youtube-video"
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/EXxyL9FU8mo?rel=0&vq=hd720&enablejsapi=1&version=3&playerapiid=ytplayer"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
            <!-- End body -->

            <!-- Footer -->
            <div class="modal-footer justify-content-center bg-light">

              <!-- GitHub -->
              <a
                class="btn btn-md btn-outline-info m-2 shadow-sm"
                title="GitHub"
                :href="links.github"
                target="_blank">
                <i class="fab fa-github social pt-1"></i>
              </a>

              <!-- Linkedin -->
              <a
                class="btn btn-md btn-outline-info m-2 shadow-sm"
                title="LinkedIn"
                :href="links.linkedin"
                target="_blank">
                <i class="fab fa-linkedin social pt-1"></i>
              </a>

              <!-- Close button -->
              <a
                class="btn btn-md btn-info m-2 shadow-sm text-white stop-video"
                title="Close"
                data-dismiss="modal">
                <i class="fas fa-times social pt-1"></i>
              </a>

            </div>
            <!-- End footer -->

          </div>
          <!-- End content -->

        </div>
      </div>
    </div>
  </div>
</div>
